body {
  width: 900px;
}

body>* {
  margin: 20px;
}

.border1 {
  width: 100px;
  height: 100px;
  background: 
    linear-gradient(90deg, #333 50%, transparent 0) repeat-x,
    linear-gradient(90deg, #333 50%, transparent 0) repeat-x,
    linear-gradient(0deg, #333 50%, transparent 0) repeat-y,
    linear-gradient(0deg, #333 50%, transparent 0) repeat-y;
  background-size: 4px 1px, 4px 1px, 1px 4px, 1px 4px;
  background-position: 0 0, 0 100%, 0 0, 100% 0;
}

.border2 {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: 
    linear-gradient(90deg, #333, #333) repeat-x,
    linear-gradient(90deg, #333, #333) repeat-x,
    linear-gradient(0deg, #333, #333) repeat-y,
    linear-gradient(0deg, #333, #333) repeat-y;
  background-position: 0 0, 0 100%, 0 0, 100% 0;
  background-size: 1px 1px, 1px 1px, 1px 1px, 1px 1px;
}

.border2:hover {
  border: none;
  box-shadow: 0 0 5px 5px black;
  background: 
    linear-gradient(90deg, #333 50%, transparent 0) repeat-x,
    linear-gradient(90deg, #333 50%, transparent 0) repeat-x,
    linear-gradient(0deg, #333 50%, transparent 0) repeat-y,
    linear-gradient(0deg, #333 50%, transparent 0) repeat-y;
  /* background-size: repeat(2, 4px 1px), repeat(2, 1px 4px); */
  background-size: 4px 1px, 4px 1px, 1px 4px, 1px 4px;
  background-position: 0 0, 0 100%, 0 0, 100% 0;
  animation: borderMove .3s infinite linear;
}

.border1:hover {
  animation: borderMove .3s infinite linear;
}

.border3 {
  display: relative;
}

.border3::after {
  content: '';
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: 
    linear-gradient(red, red),
    linear-gradient(blue, blue),
    linear-gradient(green, green),
    linear-gradient(purple, purple);
}


.box {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: black;
}

.box:hover {
  animation: box 6s infinite linear;
}

@keyframes borderMove {
  100% {
    background-position: 4px 0, -4px 100%, 0 -4px, 100% 4px;
  }
}

@keyframes border2Move {
  50% {
    background-size: 2px 1px, 2px 1px, 1px 2px, 1px 2px;
  }
  75% {
    background-size: 3px 1px, 3px 1px, 1px 3px, 1px 3px;
  }
  100% {
    background-size: 4px 1px, 4px 1px, 1px 4px, 1px 4px;
    background-position: 4px 0, -4px 100%, 0 -4px, 100% 4px;
  }
}

@keyframes box {
  0% {left: 0; bottom: 1px; box-shadow: 1px 1px 11px black;}
  50% {left: 300px; bottom:7px; box-shadow: 7px 7px 7px black;}
  100% {left: 0; bottom: 13px; box-shadow: 13px 13px 13px black;}
}